@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans&display=swap");

:root {
  --primaryColor: #f89406;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGrey: #fafafa;
  --darkGrey: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #000;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Open Sans", sans-serif !important;
  font-size: 1.6rem !important;
  background: var(--mainGrey) !important;
  color: var(--mainBlack);
}

h1 {
  font-size: 3.2rem !important;
}

img {
  max-width: 100%;
}
.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}

.cart-icon {
  cursor: pointer;
}

.text-main {
  color: var(--primaryColor);
}

.main-link {
  font-size: 1.4rem;
  padding: 0.8rem 1.5rem;
  background: var(--primaryColor);
  color: var(--mainGrey);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  outline: 2px solid var(--primaryColor);
  outline-offset: 4px;
  border: none;
}

.main-link:hover {
  background: var(--mainBlack);
  text-decoration: none;
  color: var(--primaryColor);
  outline-color: var(--mainBlack);
}

.primary-text {
  color: var(--primaryColor);
}

.form-control {
  font-size: 1.6rem !important;
}
